<!DOCTYPE html>
<html>
<head>
  <title>RubyBank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">

        <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>

        <% unless @current_customer.nil? %>
            <%= link_to 'Logout', logout_url, { method: :delete } %>
        <% end %>

        <%= yield %>

    </div>

</body>
</html>
